
/* Dice game */
.container {
    width: 80%;
    margin: auto;
    text-align: center;
  }
  
  .dice {
    text-align: center;
    display: inline-block;
    margin: auto auto 20% auto;
  }
  
  body {
    background-color: #393E46;
    margin-top: 1%;
  }
  
  .refresh {
    margin: 0px 30px 30px 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #4ECCA3;
  }
  
  .player-name {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
  }
  
  img {
    width: 80%;
  }
  
 button{
  font-family: 'Lobster', cursive;
  border-radius: 12px;
  font-size: 30px;
  background-color: #4ECCA3;
  border: #4ECCA3;
  margin-bottom: 40px;
  color: black;
  box-shadow: #232931;
 }
 .lock:hover .icon-lock,
 .lock .icon-unlock {
     display: none;
 }
 .lock:hover .icon-unlock {
     display: inline;
 }
 .button:active{
  filter:drop-shadow(0px 0px 0.75rem black)
  
 }


 

