body {
    overflow-x: hidden;
}

/* Forside */
#container-fluid{
    padding: 3% 15%;
}
 .benjamin{
    margin: auto auto auto auto;
    width: 100%;
    padding-top:18%;
 }
.forside{
    margin: auto 30% 2% auto;    
}
.overskrift{
    color: black;
}

/* Navbar */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: white;
}
.nav{
    --bs-nav-link-color: white;
    --bs-nav-link-hover-color: #DDDDDD
}
.navbar{
    --bs-navbar-padding-x: 0px;
    --bs-navbar-padding-y: .5rem;
}





/* ferdigheter */

.skill-row{
    width: 50%;
    margin: 70px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.code-image{
    width: 20%;
    float: left;
    margin-right: 30px;
}
.code-image-2{
    width: 20%;
    float: right;
    margin-left: 30px;
}
.Ferdigheter-heading{
    text-align: center;
}
/*felles for flere steder */
h1{
    font-family: 'Sacramento', cursive;
    font-size: 570%;
    padding-top: 10%;
    color: #10DDC2;
}
h2{
    text-align: center;
}
hr{
    border-style: none;
    border-bottom-style: dotted;
    border-width: 5px;
    width: 5%;
    margin: 50px auto 30px auto;
    border-color: #10DDC2;
}
p{
    font-size: 120%;
}
/* Arbeidserfaringer */
.Arbeidserfaring{
    text-align: center;
    margin: auto 30%;
}
/* utdanning */
.Utdanninger{
    text-align: center;
    margin: auto 20%;
}
.table{
    margin-bottom: 20%;
}
/* Footer */
.mailto-link{
    color: white;
}
#map {
  height: 95%;
  width: 100%;
  }

#socialIcons p {
    display: inline-block;
    padding: 0;
    margin: 0;
}

/* Minispill */
.minispill-link{
color: white;
text-decoration: none;
}

